<div class="app-container">
  <h1 class="greeting">Thank you, {{name}}!</h1>
  <h2>You are now Clocked {{clock}}</h2>
  <h3>Redirecting...</h3>
  <script type="text/javascript">
    setTimeout(function() {
      window.location.href = "/";
    }, 3000)
  </script>
</div>
